.App {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  flex-direction: column;
}

ul {
  list-style: none;
}

li {
  gap: 20px;
}

input:checked + span {
  text-decoration: line-through;
}

.delete {
  color: red;
  cursor: pointer;
  margin-left: 20px;
}
